{
  "ip": "homeassistant.local",
  "port": "1883",
  "username": "admin",
  "password": "P@ssw0rd",
  "ha_api_port": "8123",
  "ha_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI1YjlhYjFlY2ZhMGQ0NDQwOGYxYzFmMDMxODY3NWQ1YSIsImlhdCI6MTc1MDcyNTkxNCwiZXhwIjoyMDY2MDg1OTE0fQ.oBlYD6CQa8HXV2UCayMraOYXKj2rKaaTu0FOuT65caU"
}