{
  "homeAssistant": {
    "ip": "homeassistant.local",
    "port": 8123,
    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiIzNWJlYzJlNmQ1Y2U0MzU3OGU0NWZiODUzY2M3NTQwMyIsImlhdCI6MTc1MDExMjgyNCwiZXhwIjoyMDY1NDcyODI0fQ.elLpbmjlF09Tdjs2pEp08rmOFKUCErarLZasjjna574"
  },
  "assignments": {
    "2": {
      "entityId": "light.licht_dirk",
      "type": "light",
      "property": "brightness",
      "state": "off",
      "brightness": 0,
      "color": "#ffffff"
    },
    "3": {
      "entityId": "light.licht_dirk",
      "type": "light",
      "property": "color",
      "state": "off",
      "brightness": 0,
      "color": "#ffffff"
    },
    "4": {
      "entityId": "light.licht_dirk",
      "type": "light",
      "property": "toggle",
      "state": "off",
      "brightness": 0,
      "color": "#ffffff"
    }
  },
  "dashboardFullscreen": false
}