{
  "ip": "homeassistant.local",
  "port": "1883",
  "username": "admin",
  "password": "P@ssw0rd",
  "ha_api_port": "8123",
  "ha_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJlM2Y5NDg1NGMwZDk0YWQ3OTZmZjk3MGU3ODAxZjY1YiIsImlhdCI6MTc1MDcyNzMyNCwiZXhwIjoyMDY2MDg3MzI0fQ.LHnmuHRDRAAWN_DdIim8f9Zavi2AJi9e4ZknWHVVjmg",
  "spotsArr": [
    "person.admin",
    null,
    null,
    null,
    null,
    null,
    null,
    null
  ]
}