{
  "ip": "192.168.1.134",
  "username": "admin",
  "password": "P@ssw0rd",
  "apiPort": 8123,
  "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhN2ZhNjMwYTY2YjE0YjRkOGY1MTZkNjdjODYzOTU5OCIsImlhdCI6MTc1MDcyODQ2NSwiZXhwIjoyMDY2MDg4NDY1fQ.itbHbZ7cFHaaTBGQC3t8y_dghnoQpvxKcidycepjGu0",
  "mqttPort": 1883
}